In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
plotly.templates.default = 'plotly_dark'
from plotly.subplots import make_subplots

NameError: name 'plotly' is not defined

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [18]:
cleaned_data = pd.read_csv('covid_19_clean_complete.csv', parse_dates=['Date'])

In [3]:
train.head(10)

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0
5,6,NaN,Afghanistan,33.0,65.0,2020-01-27,0.0,0.0
6,7,NaN,Afghanistan,33.0,65.0,2020-01-28,0.0,0.0
7,8,NaN,Afghanistan,33.0,65.0,2020-01-29,0.0,0.0
8,9,NaN,Afghanistan,33.0,65.0,2020-01-30,0.0,0.0
9,10,NaN,Afghanistan,33.0,65.0,2020-01-31,0.0,0.0

In [4]:
test.head()

   ForecastId Province/State Country/Region   Lat  Long        Date
0           1            NaN    Afghanistan  33.0  65.0  2020-03-12
1           2            NaN    Afghanistan  33.0  65.0  2020-03-13
2           3            NaN    Afghanistan  33.0  65.0  2020-03-14
3           4            NaN    Afghanistan  33.0  65.0  2020-03-15
4           5            NaN    Afghanistan  33.0  65.0  2020-03-16

In [5]:
train.shape, test.shape

((17324, 8), (12212, 6))

In [11]:
train.rename(columns={
    'Id': 'id',
    'Province/State': 'province',
    'Country/Region': 'country',
    'Lat': 'lat',
    'Long': 'long',
    'Date': 'date',
    'ConfirmedCases': 'confirmed',
    'Fatalities': 'death'}, inplace=True)

In [12]:
train.head()

   id province      country   lat  long        date  confirmed  death
0   1      NaN  Afghanistan  33.0  65.0  2020-01-22        0.0    0.0
1   2      NaN  Afghanistan  33.0  65.0  2020-01-23        0.0    0.0
2   3      NaN  Afghanistan  33.0  65.0  2020-01-24        0.0    0.0
3   4      NaN  Afghanistan  33.0  65.0  2020-01-25        0.0    0.0
4   5      NaN  Afghanistan  33.0  65.0  2020-01-26        0.0    0.0

In [13]:
train.describe()

                 id           lat          long     confirmed         death
count  17324.000000  17324.000000  17324.000000  17324.000000  17324.000000
mean   13190.500000     26.287693      4.766191    293.191180     10.421208
std     7624.680783     22.935113     79.923334   3382.665468    155.612328
min        1.000000    -41.454500   -157.498300      0.000000      0.000000
25%     6595.750000     13.145425    -71.516375      0.000000      0.000000
50%    13190.500000     32.985550      9.775000      0.000000      0.000000
75%    19785.250000     42.501575     64.688975      8.000000      0.000000
max    26380.000000     71.706900    174.886000  67800.000000   5476.000000

In [16]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17324 entries, 0 to 17323
Data columns (total 8 columns):
id           17324 non-null int64
province     7930 non-null object
country      17324 non-null object
lat          17324 non-null float64
long         17324 non-null float64
date         17324 non-null object
confirmed    17324 non-null float64
death        17324 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ MB
None

In [19]:
cleaned_data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,0,0
1,NaN,Japan,36.0000,138.0000,2020-01-22,2,0,0
2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0,0
3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0,0
4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0,0